<!-- Libraries -->
<script src="../js/lib/helpers.js?fixed"></script>
<script src="../js/lib/pegasus.js?fixed"></script>
<script>var c_ = {};</script>
<script src="../js/lib/minpubsub.src.js?fixed"></script>
<script src="../js/lib/q.js?fixed"></script>
<script src="../js/lib/pixi.min.js?fixed"></script>
<script src="../js/lib/howler.js?fixed"></script>
<script>var createjs = window;</script>
<script src="../js/lib/tweenjs-0.6.2.min.js?fixed"></script>
<script>Ticker.framerate=60; Ticker.paused=true;</script>
<script src="../js/lib/sharing.js?fixed"></script>

<!-- Core Engine -->
<script src="../js/core/Loader.js?fixed"></script>
<script src="../js/core/Slideshow.js?fixed"></script>
<script src="../js/core/SlideSelect.js?fixed"></script>
<script src="../js/core/Button.js?fixed"></script>
<script src="../js/core/TextBox.js?fixed"></script>
<script src="../js/core/Words.js?fixed"></script>
<script src="../js/core/IncDecNumber.js?fixed"></script>
<script src="../js/core/Slider.js?fixed"></script>
<script src="../js/core/Scratcher.js?fixed"></script>
<script src="../js/core/Background.js?fixed"></script>
<script src="../js/core/ImageBox.js?fixed"></script>
<script src="../js/core/PayoffsUI.js?fixed"></script>

<!-- Simulations -->
<script src="../js/sims/Splash.js?fixed"></script>
<script src="../js/sims/PD.js?fixed"></script>
<script src="../js/sims/Iterated.js?fixed"></script>
<script src="../js/sims/Tournament.js?fixed"></script>
<script src="../js/sims/SandboxUI.js?fixed"></script>

<!-- Slides -->
<script src="../js/slides/0_Slides_Intro.js?fixed"></script>
<script src="../js/slides/1_Slides_OneOff.js?fixed"></script>
<script src="../js/slides/2_Slides_Iterated.js?fixed"></script>
<script src="../js/slides/3_Slides_Tournament.js?fixed"></script>
<script src="../js/slides/4_Slides_Evolution.js?fixed"></script>
<script src="../js/slides/5_Slides_Distrust.js?fixed"></script>
<script src="../js/slides/6_Slides_Noise.js?fixed"></script>
<script src="../js/slides/7_Slides_Sandbox.js?fixed"></script>
<script src="../js/slides/8_Slides_Conclusion.js?fixed"></script>
<script src="../js/slides/9_Slides_Credits.js?fixed"></script>

<!-- Main Code -->
<script src="../js/main.js?fixed"></script>
